@model ProductViewModel
@{
    ViewData["Title"] = "Update";

}

<div class="row mb-3">
    <div class ="col-8">
        <form  asp-controller="Product" asp-action="Update"  enctype="multipart/form-data">
          <partial name="PartialViews/AddUpdatePartialView" />

          <div class="form-group has-danger">
                <input type="hidden" name="Id" value="@Model.Id" />

                <label asp-for="@Model.PictureUrl" class="col-form-label">@Model.Name's Image</label>
                <br />
                <img src="~/Files/Images/@Model.PictureUrl" class="img-circle" width="200" alt="@Model.Name's Image" />
          </div>         
            <div class="form-group">
            <label asp-for="@Model.Image" class="form-label mt-4"></label>
            <input type="file" asp-for="@Model.Image" class="form-control">
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
           </div>
          <br />
            <input type="Submit" value="Update" class="btn btn-primary" /> |
            <a asp-action="Index"class="btn btn-light">Back To List</a>

        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}